.background {
	position: fixed;
	top: var(--navbar-height);
	left: 0;
	width: 100vw;
	height: calc(100vh - var(--navbar-height));
	background-color: #182433;
	z-index: -1;
	text-align: center;
	justify-content: center;
	align-items: center;
	display: flex;
	height: 100dvh;
	width: 100dvw;
}

.background h1 {
	color: #FFCC7F;
}

.background.teal {
	background-color: #013740;
}

.background.maroon {
	background-color: #501B27;
}

.background.orange {
	background-color: #68310d;
}

.background.yellow {
	background-color: #916f01;
}