/* Home Container Styles */
.home-container {
    position: relative;
    width: 100%;
    min-height: calc(100vh - var(--navbar-height)); /* Subtract navbar height */
    margin-top: var(--navbar-height); /* Account for navbar */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
}

.home-content-container {
	display: none;
    position: relative;
    width: 100%;
    min-height: 100dvh;
	padding-bottom: 8dvh;
}
