.jumble {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 2;
	pointer-events: none;
	mix-blend-mode: screen;
}

.jumble_canvas {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
}

#jumble {
	position: relative;
	min-height: 100vh; /* always at least viewport height */
}