/*:root{
	--navbar-height: 56px;
}*/

.layer {
	position: absolute;
	top: var(--navbar-height);
	/*top: var(--navbar-height);*/
	left: 0;
	width: 100vw;
	height: calc(100vh - var(--navbar-height));
	/*height: calc(100vh - var(--navbar-height));*/
}


/* background */
.layer.background.navy {
	position: fixed;
	background-color: #182433;
	z-index: 1;
}

.layer.background.teal {
	position: fixed;
	background-color: #013740;
	z-index: 1;
}

.layer.background.maroon {
	position: fixed;
	background-color: #501B27;
	z-index: 1;
}

.layer.background.orange {
	position: fixed;
	background-color: #68310d;
	z-index: 1;
}

.layer.background.yellow {
	position: fixed;
	background-color: #916f01;
	z-index: 1;
}

.layer.jumble {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 5;
	pointer-events: none;
	overflow: hidden;
	mix-blend-mode: screen;
}

.layer.jumble span {
	position: absolute;
	font-family: monospace;
	white-space: pre;
	user-select: none;
	font-weight: bold;
	opacity: 1;
}

#canvas {
	z-index: 15;
	pointer-events: auto;
	background-color: transparent;
	position: fixed;
	overflow: hidden;
}

.layer[style*="pointer-events: none"],
.layer[style*="pointer-events: none"] * {
	pointer-events: none !important;
}
