.portfolio-header h1 {
    color: #ff1b50;
}

.portfolio-header h2 {
    color: #9e2441;
}

.portfolio-header {
    border-color: #920000;
    top: 120px;
}

body {
	background-color: transparent;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.portfolio-container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	position: absolute;
	top: 224px;
    left: 0;
    right: 0;
	width: 95vw;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
/*	border: 3px solid #11c3e2;
    border-radius: 12px;
    box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.1); */
	padding: 1.5rem;
	z-index: 5;
    gap: 1.5rem;
    /* mix-blend-mode: screen; */
}

.project-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: stretch;
    flex: 1 1 180px;
    min-width: 300px;
    max-width: 980px;
	background-color: #cfa7a2;
	padding: 1rem;
    gap: 1rem;
	border-radius: 8px;
	box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.55);
	border: 3px solid;
    border-color: #920000;
}

.project-content {
    flex: 2 1 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    color: #300000;
    /* border: 2px solid #67d81c; */
}

.project-header a {
    text-decoration: none;
    color: inherit;
}

.project-header a:hover {
    color: #920000;
}

.project-image {
    flex: 1 1 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* margin-left: 2rem; */
    /* border: 2px solid #2402e2; */
}

.project-image img {
    max-width: 320px;
    width: 100%;
    height: auto;
    border-radius: 18px;
    border: 2px solid #920000;
    object-fit: cover;
}

@media (max-width: 991.98px) {
    .project-container {
        flex-direction: column;
        align-items: stretch;
    }
    .project-image {
        justify-content: center;
    }
    .project-image img {
        max-height: 400px;
        width: auto;
    }
}

.project-link-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-links a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.2rem 0.5rem;
    border: 2px solid transparent;
    background: none;
    color: #320000;
    border-radius: 8px;
    transition: 
        background-color 0.2s,
        border-color 0.2s,
        box-shadow 0.2s,
        color 0.2s;
    text-decoration: none;
    box-shadow: none;
}

.project-links a:hover {
    border: 2px solid #920000;
    color: #920000;
    box-shadow: 0 0 0 0.2rem rgba(148, 22, 0, 0.5);
    outline: none;
}

.project-links a i {
    color: inherit !important;
    transition: color 0.2s;
}

.project-links a svg {
    fill: currentColor !important;
    transition: fill 0.2s;
}

.home.portfolio-container {
    mix-blend-mode: screen;
    top: 290px;
}

.home.project-container {
    background-color: rgba(207, 167, 162, 0.05);
}

.home.project-content {
    color: #da0000;
}

.home.project-header a:hover {
    color: #ff9999;
}

.home.project-links a {
    color: #da0000;
}

.home.project-links a:hover {
    border: 2px solid #ff9999;
    color: #ff9999;
    box-shadow: 0 0 0 0.2rem rgba(255, 153, 153, 0.5);
}