.resume-container{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    margin-top: 250px;
    width: 90vw;
    max-width: 1330px;
    margin-left: auto;
    margin-right: auto;
    border-color: blueviolet;
    border-width: 3px;
    border-style: solid;
    z-index: 5;
}

.resume-skills{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 47%;
    border-color: #9d86f1;
    border-width: 3px;
    border-style: solid;
}

.resume-blurb{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 47%;
    border-color: #515be9;
    border-width: 3px;
    border-style: solid;
}