@import url('navbar.css');
@import url('layers.css');
@import url('header.css');
@import url('home-container.css');
@import url('text.css');
@import url('resume.css');
@import url('portfolio.css');
@import url('contact.css');

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;700&display=swap');

:root {
    --navbar-height: 56px;
}

@media (max-width: 768px) {
    :root {
        --navbar-height: 220px;
    }
}

body {
	font-family: 'Urbanist', sans-serif;
}
