@import url('navbar.css');
@import url('background.css');
@import url('header.css');
@import url('resume.css');
@import url('portfolio.css');
@import url('contact.css');
@import url('jumble.css');
@import url('paint-canvas.css');

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;700&display=swap');

:root {
    --navbar-height: 56px;
}

@media (max-width: 768px) {
    :root {
        --navbar-height: 100px;
    }
}

body {
    font-family: 'Urbanist', sans-serif;
    padding-top: var(--navbar-height);
 
    margin: 0;
}

.home-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
	z-index: 20;
}